.side-menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
}
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}
.side-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
}

#mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

#mobile-gnb-btn: hover {
    opacity: .5;
}


.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg {
    width: 430px;
}
.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}
.menus button {
    border: none;
    background-color: transparent;
    margin: 5px;
}
.menus button:hover{
    background-color: beige;
}
.news-img-size{
    max-width: 100%;
    max-height: 250px;
}
.news{
    border-bottom: 2px solid black;
}



/* 모바일 화면에서만 햄버거 메뉴 버튼 표시 */
#mobile-gnb-btn {
    display: none; /* 기본적으로는 숨김 */
}

/* PC 화면에서 메인 메뉴 버튼 표시 */
.menus button {
    display: inline-block; /* 기본적으로 버튼 표시 */
}

/* 화면 크기가 768px 미만일 경우 */
@media screen and (max-width: 768px) {
    #mobile-gnb-btn {
        display: block; /* 모바일 화면에서 햄버거 메뉴 버튼 표시 */
    }

    .menus button {
        display: none; /* 모바일 화면에서 메인 메뉴 버튼 숨김 */
    }
}
